# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# MongoDB dump
*.bson
*.json

# Logs
*.log

# Misc
*.sqlite3
*.db

# Windows
*.exe
*.dll
*.bat
*.cmd

# Others
*.egg-info/
*.egg
*.bak
*.swp
*.swo

# Node
node_modules/
